<h1 style="text-align: center">Teste de Combo Autocomplete</h1>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Escolha um número" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<button mat-raised-button color="warn" (click)="procurar()" >Procurar</button>
<br><br><br>

<div>
    <h2> Grocery list manager </h2>
 
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="enter grocery items" id="txtSearch" [(ngModel)]="task" />
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="onClick()">
       ADD
        </button>
                </div>
            </div>
        </div>
    </div>
 
</div>

<ul class="list-group">
    <li *ngFor="let task of tasks" class="list-group-item">
        <span> {{ task.name }} </span>
    </li>
</ul>