<mat-list role="list">
    <mat-list-item role="listitem">Item 1 <button (click)="add">aaa</button> </mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>

<br><br>
<input type="text">
<!-- <button (click)="add()">ADD </button> -->
<mat-list role="lista">
    <mat-list-item role="listaitem">Item 1 </mat-list-item>
    <mat-list-item role="listaitem">Item 2</mat-list-item>
    <mat-list-item role="listaitem">Item 3</mat-list-item>
  </mat-list>

<script>

function add(){
    lista.push(listitem);
}




</script>